<div class="d-flex justify-content-start mt-2 gap-2">
  <%= link_to 'Order History', me_order_history_path, class: "btn btn-primary" %>
  <%= link_to 'Lottery History', me_lottery_history_path, class: "btn btn-primary" %>
  <%= link_to 'Winning History', me_winning_history_path, class: "btn btn-primary" %>
  <%= link_to 'Invitation History', me_invitation_history_path, class: "btn btn-primary" %>
</div>