<div class="container-fluid w-75">
  <h1>Edit Member Level</h1>
  <div class="card shadow p-4">
    <%= render partial: 'admin/member_levels/shared/form', locals: { path: member_level_path } %>
  </div>
</div>