<div class="container-fluid w-75">
  <h1>Add New News</h1>
  <div class="card shadow p-4">
    <%= render partial: 'admin/news_tickers/shared/form', locals: { path: news_tickers_path } %>
  </div>
</div>