<div class="mt-2 py-2 d-flex align-items-center align-items-stretch">
  <div class="bg-primary d-flex align-items-center rounded-start">
    <h4 class="text-bg-primary align-middle mb-0 mx-2 p-2 fw-bold"><%= t('announcement') %></h4>
  </div>
  <div class="marquee d-inline">
    <% @news_tickers.each_with_index do |news, index| %>
      <p class="text-white d-inline" style="animation-delay: <%= index * 8 %>s;"><%= news.content %></p>
    <% end %>
  </div>
</div>
