<footer class="navbar bg-dark footer fixed-bottom py-2" data-bs-theme="dark">
  <div class="navbar-nav container d-flex flex-row justify-content-evenly">
    <a class="nav-link" href="#">Share</a>
    <a class="nav-link" href="#">Invite</a>
    <a class="nav-link" href="#">Lottery</a>
    <a class="nav-link" href="#">Shop</a>
    <a class="nav-link" href="#">Me</a>
  </div>
</footer>