<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container mx-auto d-flex">
    <%= link_to client_root_path, class: "text-decoration-none" do %>
      <i class="bi bi-bootstrap"></i>
    <% end %>
    <div class="navbar-nav">
      <%= link_to "Coins", shops_path, class: "nav-link" %>
      <%= link_to "Claim", me_winning_history_path, class: "nav-link" %>
      <a class="nav-link" href="#">Language</a>
      <button class="navbar-toggler d-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <i class="navbar-toggler-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
      </button>
    </div>
  </div>
</nav>

<%= render 'client/shared/side_nav' %>