<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container mx-auto d-flex">
    <a class="navbar-brand justify-content-start" href="#"><i class="bi bi-bootstrap-fill"></i></a>
    <div class="navbar-nav">
      <a class="nav-link" href="#">Home</a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" href="#">Pricing</a>

      <button class="navbar-toggler d-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <i class="navbar-toggler-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
      </button>
    </div>
  </div>
</nav>