<%= form_with url: offers_path, method: :get, class: "form-inline w-100 mb-3" do |f| %>
  <div class="input-group w-25">
    <%= f.select :status, options_for_select(Offer.statuses.keys.map { |key| [key.humanize, key] }, params[:status]),
                 { include_blank: 'Please select status' }, { class: "form-select" } %>
  </div>

  <%= f.submit "Search", class: "btn btn-primary my-2 ms-auto", type: "submit" %>
<% end %>